body {
  box-sizing: border-box;
  font-family: sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo img {
  width: 150px;
}
.acount .link {
  font-size: 14px;
  color: gray;
  font-weight: bold;
  text-decoration: none;
  padding: 0 10px;
}

/*  */
.content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.content-1 {
  flex-basis: 25%;
}
.content-1 .heading {
  font-size: 60px;
  font-weight: bold;
}
.button-join {
  padding: 20px 30px;
  border: none;
  color: white;
  background-color: tomato;
  font-weight: bold;
  font-size: 14px;
  border-radius: 5px;
}
.content .content-2 .img-content-2 {
  width: 500px;
}

/*  */

.form-search {
  width: 900px;
  /* background-color: thistle; */
  padding: 20px;
  display: flex;
  border:  none;
  border-radius: 5px;
  box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.3);
}
.form {
  flex-grow: 1;
  display: flex;
}
.input-find,
.input-address {
  padding: 15px;
  border-radius:5px;
  border: 1px solid grey;
}
.form .input-find {
    flex-grow: 1;
}
.button-search{
    padding: 0 40px;
    background-color: white;
    font-size: 14px;
    font-weight: bold;
    margin-left:20px;
    border: 1px solid rgb(19, 131, 19);
    border-radius: 5px;
