<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./container.css">
</head>

<body>
  <div class="flex">
    <div class="item-container">
      <div class="container-img"><img src="./img/250x140.jpg" alt=""></div>
      <div class="content-heading">
        <h5>TUE, SEP 15, 7:30 AM</h3>
          <h3>Morning Discussion:
            What Does It Mean to Know?
            </h2>
            <p>Saigon Critical Thinkers Meetup...</p>
      </div>
      <div class="info">
        <div class="img-info-1"><img src="./img/child-817373_1920.jpg" alt=""></div>
        <div class="img-info-2"><img src="./img/entrepreneur-593358_1920.jpg" alt=""></div>
        <div class="img-info-3"><img src="./img/portrait-3204843_1920.jpg" alt=""></div>
        <div class="heading-info">
          <p>1</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container-img"><img src="./img/250x140.jpg" alt=""></div>
      <div class="content-heading">
        <h5>TUE, SEP 15, 7:30 AM</h3>
          <h3>Morning Discussion:
            What Does It Mean to Know?
            </h2>
            <p>Saigon Critical Thinkers Meetup...</p>
      </div>
      <div class="info">
        <div class="img-info-1"><img src="./img/child-817373_1920.jpg" alt=""></div>
        <div class="img-info-2"><img src="./img/entrepreneur-593358_1920.jpg" alt=""></div>
        <div class="img-info-3"><img src="./img/portrait-3204843_1920.jpg" alt=""></div>
        <div class="heading-info">
          <p>1</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container-img"><img src="./img/250x140.jpg" alt=""></div>
      <div class="content-heading">
        <h5>TUE, SEP 15, 7:30 AM</h3>
          <h3>Morning Discussion:
            What Does It Mean to Know?
            </h2>
            <p>Saigon Critical Thinkers Meetup...</p>
      </div>
      <div class="info">
        <div class="img-info-1"><img src="./img/child-817373_1920.jpg" alt=""></div>
        <div class="img-info-2"><img src="./img/entrepreneur-593358_1920.jpg" alt=""></div>
        <div class="img-info-3"><img src="./img/portrait-3204843_1920.jpg" alt=""></div>
        <div class="heading-info">
          <p>1</p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container-img"><img src="./img/250x140.jpg" alt=""></div>
      <div class="content-heading">
        <h5>TUE, SEP 15, 7:30 AM</h3>
          <h3>Morning Discussion:
            What Does It Mean to Know?
            </h2>
            <p>Saigon Critical Thinkers Meetup...</p>
      </div>
      <div class="info">
        <div class="img-info-1"><img src="./img/child-817373_1920.jpg" alt=""></div>
        <div class="img-info-2"><img src="./img/entrepreneur-593358_1920.jpg" alt=""></div>
        <div class="img-info-3"><img src="./img/portrait-3204843_1920.jpg" alt=""></div>
        <div class="heading-info">
          <p>1</p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>